body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e964b3;
}

img {
    max-width: 60%;
    height: auto;
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

.button-container a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #e88feb;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-container a:hover {
    background-color: #6ce886;
}

@media (min-width: 500px) {
    .button-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .button-container a {
        flex-grow: 1;
    }
}

.content {
    max-width: 600px; /* Sets a max width */
    margin: 0 auto;   /* Centers the content horizontally */
    line-height: 1.6; /* Improves line spacing for readability */
}

/* Optional: Adding padding to the paragraphs for better readability */
p {
    padding-bottom: 20px;
}

 /* Styling the home button */
 .home-button {
    position: absolute;  /* Keeps it in a fixed position */
    top: 20px;           /* 20px from the top */
    left: 20px;         /* 20px from the right */
    background-color: #e88feb; /* Green background */
    color: white;        /* White text */
    padding: 10px 20px;  /* Padding inside the button */
    text-decoration: none; /* Remove underline */
    border-radius: 5px;  /* Rounded corners */
    font-size: 16px;     /* Size of the text */
}

/* Add hover effect */
.home-button:hover {
    background-color: #6ce886; /* Darker green on hover */
}

/* Ensuring the button is responsive */
@media (max-width: 768px) {
    .home-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}